/.idea
/data
/dist
/docs
/node_modules
.browserslistrc
.distignore
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmrc
.nvmrc
.prettierignore
.prettierrc
.stylelintignore
.stylelintrc
.DS_Store
*.txt
*.sh
*.svg
LICENSE
package.json
package-lock.json
