.json-view .react-json-view {
  font-size: 11px;
}

.json-view .react-json-view .object-key,
.json-view .react-json-view .variable-value
 {
  opacity: 1 !important;
  letter-spacing: 0 !important;
}

.json-view .react-json-view .object-key-val,
.json-view .react-json-view .variable-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.json-view .react-json-view .icon-container {
  width: auto !important;
}

/* center the collapsed and expanded icons */
.json-view .react-json-view .collapsed-icon,
.json-view .react-json-view .expanded-icon {
  font-size: 12px !important;
  position: relative;
  top: 0.12rem;
}

/* Reduce the size of ellipsis [...] when an object is collapsed */
.json-view .react-json-view .node-ellipsis {
  font-size: 12px !important;
}

body.dark .json-view .react-json-view .collapsed-icon svg,
body.dark .json-view .react-json-view .expanded-icon svg {
  color: #fff !important;
}

body.light .json-view .react-json-view .collapsed-icon svg,
body.light .json-view .react-json-view .expanded-icon svg {
  color: rgb(69,71,76) !important;
}