@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
@layer base {
  body {
    @apply font-sans;
  }
  :root {
    --color-message-box-dark: 33deg 14% 18%;
    --color-message-box-light: 30deg 100% 75%;
  }
}

@import 'github-markdown-css';

.wiki-sidebar {
  ul {
    padding-left: 0;

    ul {
      padding-left: 10px;
    }
  }

  a.decoration-solid {
    text-decoration: underline;
  }
}

.dark {
  .markdown-body {
    --bgColor-neutral-muted: #000000;
    --bgColor-default: #212121;
    --bgColor-muted: #1a1a1a;

    table {
      color: var(--text-bright-gray);
    }

    pre {
      --fgColor-default: var(--text-bright-gray);
    }

    code {
      background-color: var(--bgColor-muted);
    }

    img {
      --bgColor-default: #212121;
    }
  }
}

.markdown-body {

  --bgColor-default: #ffffff;
  --bgColor-muted: #fbfbfb;
  --fgColor-default: #000000;
  --bgColor-neutral-muted: #fbfbfb;

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 20px;
  }

  ul > ul {
    list-style: initial;
  }

  .markdown-container {
    ul {
      list-style: initial;
    }
  }

  /* h1 */
  .markdown-container > h2 {
    font-size: 22px;
    margin-top: 0;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

}

body {
  margin: 0;
  padding: 0;
}

.overflowing-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

#ps-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: auto;
}

#interest-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#user-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#bubble-container {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
}

.minified-bubble-container {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #808080;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
}

.circle-svg:hover:active {
  cursor: pointer;
}

.text-class {
  pointer-events: none;
}

.svg {
  cursor: pointer;
}

.circle-svg {
  transition: transform .2s;
}

.circle-svg:hover {
  transform: scale(1.05);
  cursor: pointer;
}

text {
  cursor: pointer;
}

.minified-bubble-container.expanded {
  position: absolute;
  display: block;
  top: var(--expandedBubbleY);
  height: var(--expandedBubbleWidth);
  width: var(--expandedBubbleWidth);
  border-radius: 50%;
  border: 1px solid #808080;
  backdrop-filter: blur(10px);
  left: var(--expandedBubbleX)
}

.bubble-container {
  position: absolute;
  pointer-events: auto;
}

.bubble-container.expanded {
  backdrop-filter: blur(1px);
  z-index: 4;
  height: 100vh;
  width: 100vw;
}

#close-button {
  position: absolute;
  top: 10px;
  cursor: pointer;
  display: none;
}

#open-button {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  display: none;
}

#count-display {
  font-size: 16px;
  position: absolute;
  margin: 0px;
  backdrop-filter: blur(4px);
  font-weight: bolder;
  border-radius: 50%;
}

.play-pause-button {
  margin-right: 10px;
}

.controls {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
}

#bubble-container-div {
  top: 0px;
  left: 0px;
}
