/* @todo Use shadow dom to get rid of these high specific css! */

html body .ps-overlay[popover], html body .ps-tooltip[popover] {
    position: absolute !important;
    background-color: #1a73e859 !important;
    border: 0px !important;
    margin: initial !important;
    padding: 0px !important;
    cursor: default !important;
}

html body .ps-overlay[popover], html body .ps-tooltip[popover] > .ps-content {
    pointer-events: none !important;
}

html body .ps-fixed[popover] {
    position: fixed !important;
}

html body .ps-tooltip[popover] {
    background-color: transparent !important;
    padding: 15px 10px !important;
    max-width: 500px !important;
    min-width: 200px !important;
    width: max-content !important;
    position: absolute;
    top: 0;
    left: 0;
}

html body .ps-tooltip[popover] > .ps-content {
    background-color: white !important;
    border: 0px !important;
    border-radius: 3px !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5) !important;
    margin: initial !important;
    padding: 10px !important;
}

#ps-content-tooltip-arrow{
    position: absolute;
    width: 20px;
    height: 20px;
    background: white !important;
    pointer-events: none;
}

html body .ps-tooltip[popover] > .ps-content p {
    line-height: 1.7 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #000000 !important;
    font-family: "San Francisco", Helvetica, Arial, sans-serif !important;
}

html body .ps-tooltip[popover] > .ps-content strong {
    font-weight: 700 !important;
}

html body .ps-tooltip[popover] > .ps-content p:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

html body .ps-tooltip[popover] > .ps-content > p:first-child {
    margin-top: 0 !important;
}

html body .ps-tooltip[popover] > .ps-content > p:last-child {
    margin-bottom: 0 !important;
}

html body .ps-highlighted-frame {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
    outline: 1px solid #FF0000 !important;
}

html body .ps-tooltip-info-toggle-btn-container {
	display: flex;
	justify-content: flex-end;
}

html body .ps-tooltip-info-toggle-btn {
    pointer-events: auto !important;
    cursor: pointer !important;
    color: #007FFF !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 12px !important;
}

html body .ps-enable-pointer-event {
	text-decoration: none !important;
    pointer-events: auto !important;
    cursor: pointer !important;
}

html body .ps-tooltip[popover]>.ps-content .hidden {
	display: none !important;
}