/* @todo Use shadow dom to get rid of these high specific css! */

html body .ps-overlay[popover], html body .ps-tooltip[popover] {
    position: absolute !important;
    background-color: #1a73e859 !important;
    pointer-events: none !important;
    border: 0px !important;
    margin: initial !important;
    padding: 0px !important;
    cursor: default !important;
}

html body .ps-tooltip.ps-tooltip-fixed[popover] {
    position: fixed !important;
}

html body .ps-tooltip[popover] {
    background-color: transparent !important;
    padding: 10px 10px 15px 10px !important;
}

html body .ps-tooltip[popover] > .ps-content {
    background-color: white !important;
    border: 0px !important;
    border-radius: 3px !important;
    box-shadow: color-mix(in srgb, #3c4043 30%, transparent) 0 1px 2px 0, color-mix(in srgb, #3c4043 15%, transparent) 0 2px 6px 2px !important;
    margin: initial !important;
    padding: 10px !important;
}

html body .ps-tooltip[popover] > .ps-content .ps-frame-origin {
    max-width: 360px !important;
    display: inline-block !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

html body .ps-tooltip[popover] > .ps-content p {
    line-height: 1.7 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #000000 !important;
    font-family: "San Francisco", Helvetica, Arial, sans-serif !important;
}

html body .ps-tooltip[popover] > .ps-content p:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

html body .ps-tooltip[popover] > .ps-content > p:first-child {
    margin-top: 0 !important;
}

html body .ps-tooltip[popover] > .ps-content > p:last-child {
    margin-bottom: 0 !important;
}

html body .ps-tooltip[popover] > .ps-content:after {
    content: " " !important;
    position: absolute !important;
    bottom: 9px !important;
    left: 20px !important;
    border-width: 7px !important;
    border-style: solid !important;
    border-color: white transparent transparent transparent !important;
    background-color: white !important;
    box-shadow: color-mix(in srgb, #3c4043 15%, transparent) -3px 3px 4px 1px !important;
    transform: rotate(315deg) !important;
}

html body .ps-tooltip[popover] > .ps-content.ps-tooltip-top-notch:after {
    bottom: unset !important;
    top: 5px !important;
    box-shadow: color-mix(in srgb, #3c4043 15%, transparent) 3px -3px 4px -1px !important;
}

html body .ps-highlighted-frame {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
    outline: 1px solid #FF0000 !important;
}